{% extends '/index.html.twig' %}
{% block title %}Account{% endblock %}
{% block page_title %}My Account{% endblock %}
{% block content %}

	{% if error is not null %}
		<div class="error-block">
			{{ error }}
		</div>
	{% endif %}
    {% if good is not null %}
		<div class="good-block">
            {{ good }}
		</div>
    {% endif %}
	<div class="block">
		<div class="block-title">Personal Information (<a class="orangehover" href="{{ path('updateUser') }}">edit</a>) </div>
		<div class="center">
			<div class="profile-table">
				<div class="column">
					<div><b>Name:&nbsp;&nbsp;</b>{{ user.getUsername() }}</div>
					<div><b>DNI/NIF:&nbsp;&nbsp;</b>{{ user.getDni() }}</div>
					{% if user.getIsSubscribed() %}
                        <div><b>Subscribed:&nbsp;&nbsp;</b>Yes</div>
					    <div><b>Credit card:&nbsp;&nbsp;</b>**** **** **{{ user.getCreditCard()|slice(-2) }}</div>
					{% else %}
                        <div><b>Subscription:&nbsp;&nbsp;</b>No</div>
                        <div>Want to&nbsp;<a class="orangehover" href="{{ path('subscribe') }}">subscribe</a>?</div>
					{% endif %}
				</div>
				<div class="column">
					<div><b>Birthday:&nbsp;&nbsp;</b>{{ user.getBirthdate().format('Y-m-d') }}</div>
					<div><b>Phone:&nbsp;&nbsp;</b>{{ user.getPhone() }}</div>
					<div><b>SSN:&nbsp;&nbsp;</b>{{ user.getSocialSecurityNumber() }}</div>
                    {% if user.getIsSubscribed() %}
                        <div>Want to&nbsp;<a class="orangehover" href="{{ path('unsubscribe') }}">unsubscribe</a>?</div>
                    {% endif %}
				</div>

			</div>

		</div>
	</div>
	<div class="block">
		<div class="block-title"> Medical History </div>
		<div class="center">
				<div class="history-table">
					<div class="row">
						<div class="column">
							<div><b>Date:&nbsp;&nbsp;</b>{{ user.getBirthdate().format('Y-m-d') }}</div>

						</div>
						<div class="column">
							<div><b>Description:&nbsp;&nbsp;</b> BLa Bla bla blabala. Porque blababa hizo balabalaba.</div>
						</div>
					</div>
					<div class="row">
						<div class="column">
							<div><b>Date:&nbsp;&nbsp;</b>{{ user.getBirthdate().format('Y-m-d') }}</div>

						</div>
						<div class="column">
							<div><b>Description:&nbsp;&nbsp;</b> BLa Bla bla blabala. Porque blababa hizo balabalaba.</div>
						</div>
					</div>
			</div>

		</div>
	</div>
    {% if pets is defined and pets is not empty %}
	<div class="block">
		<div class="block-title">Pets (<a class="orangehover" href="{{ path('addAnimal') }}">new</a>)</div>
		<div class="center">
			<div class="pet-table">
				{% for pet in pets %}
				<div class="row">
					<div class="column">
						<div><b>Name:&nbsp;&nbsp;</b>{{ pet.getName() }}</div>
						<div><b>Birthday:&nbsp;&nbsp;</b>{{ pet.getBirthdate().format('Y-m-d') }}</div>
					</div>
					<div class="column">
						<div><b>Type:&nbsp;&nbsp;</b>{{ pet.getType() }}</div>
						<a class="redhover" href='{{ path('removeAnimal',{'id':pet.getId()}) }}'>Remove</a>
					</div>
				</div>
				{% endfor %}

			</div>

		</div>
	</div>
	{% else %}

		<div class="block-option">
			<p>
			<b>New Service!</b>
			<a class='button' href="{{ path('addAnimal') }}">Add Pet</a>
			</p>
		</div>
    {% endif %}
	
{% endblock %}