{% extends '/index.html.twig' %}
{% block title %}Appointments{% endblock %}
{% block page_title %}New Appointment{% endblock %}
{% block content %}
    {# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
    <div class="block">
        <div class="block-title">Filter Options </div>

        <div class="center">
            <form action={{ path('generateAppointment') }}><div class="genForm">
                    <div class="column e">
                        <div>Day:&ensp;
                            <select name="daySelector" title="Days of the week">

                                {% if day=='Monday' %}
                                    <option value="Monday" selected>Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="None">---</option>
                                {% elseif day=='Tuesday' %}
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday" selected>Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="None">---</option>
                                {% elseif day=='Wednesday' %}
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday" selected>Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="None">---</option>
                                {% elseif day=='Thursday' %}
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday" selected>Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="None">---</option>
                                {% elseif day=='Friday' %}
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday" selected>Friday</option>
                                    <option value="None">---</option>
                                {% else %}
                                    <option value="Monday" >Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday" >Friday</option>
                                    <option value="None" selected>---</option>
                                {% endif %}
                            </select></div>

                        <div>Time range:&ensp;
                            <select name="selector" title="AM/PM Selector">

                                {% if cond=='PM' %}
                                    <option value="AM">AM</option>
                                    <option value="PM" selected>PM</option>
                                {% else %}
                                    <option value="AM" selected>AM</option>
                                    <option value="PM">PM</option>
                                {% endif %}
                            </select></div>
                        <input class='button' type="hidden" name="date" value="{{ date.format('Y-m-d H:i:s') }}"/>
                        <div class="dateTime">
                            <div>Date: {{ date.format('Y-m-d') }}</div>
                            <div>Hour: {{ date.format('H:i') }}</div>
                        </div>
                    </div>
                    <div class="column align-center">
                        <input type="hidden" name ="doctor" value='{{ doctor.getDni() }}'/>
                        <input class='button2 blue' type='submit' name='enter' value='Next'/>
                        <a href="{{ path('generateAppointment') }}"><div class="button2 gray">Reset</div></a>

                    </div>
                </div></form>
        </div>
    </div>

    <form action='{{ path('persistAppointment') }}'>

        <div class="block">
            <div class="block-title"> Appointment description(Optional)</div>
            <div class="center">

                <p>
                    <textarea name="description" rows="4" cols="60" maxlength="200" style="resize: none" title="Information for your doctor"></textarea>
                </p>

            </div>
        </div>

        <div class="button_block">
            <b>{{ date.format('Y-m-d H:i') }}</b>
            <input type='hidden' name='date' value='{{ date.format('Y-m-d H:i:s') }}'>
            <input type="hidden" name="doctor" value='{{ doctor.getDni() }}'/>
            <input class='button' type='submit' name='enter' value='Accept'>
        </div>
    </form>
{% endblock %}