{% extends 'index.html.twig' %}
{% block title %}Appointments{% endblock %}
{% block page_title %}New Appointment{% endblock %}
{% block content %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
    <div class="block">
        <div class="block-title">Filter Options </div>

        <div class="center">
        <form action={{ path('generateAppointment') }}>
		<p>Time Range: &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <select name="selector">

                    {% if cond=='AM' %}
                    <option value="AM" selected>AM</option>
                    <option value="PM">PM</option>
                    {% else %}
                    <option value="AM" >AM</option>
                    <option value="PM"selected>PM</option>
                    {% endif %}
                </select>
            <input class='button'type="hidden" name="date" value="{{ date.format('Y-m-d H:i:s') }}"/>

		</p>
		<div class="dateTimeBlock">
            <div class="dateTime">
                <div>Date: {{ date.format('Y-m-d') }}</div>
                <div>Hour: {{ date.format('H:i') }}</div>
            </div>
                <input class='button2' type='submit' name='enter' value='Next'>

		 </div>
            </form>
        </div>
    </div>
	
	<form action='{{ path('persistAppointment') }}'>
	
		<div class="block">
			<div class="block-title"> Appointment information </div>
			<div class="center">
				<p>Doctor specialty: &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
					<select name="specialty">
						<option value="Neurology">Neurology</option>
						<option value="Geriatrics">Geriatrics</option>
						<option value="Pneumology">Pneumology</option>
						<option value="Toxicology">Toxicology</option>
						<option value="Oncology">Oncology</option>
					</select>
				</p>
				
				Description:
				<p>
					<textarea name="description" rows="4" cols="60" maxlength="200" style="resize: none">Ninguna</textarea>
				</p>
				
			</div>
		</div>
		
		<div class=button_block>
					<b>{{ date.format('Y-m-d H:i') }}</b>
					<input type='hidden' name='date' value='{{ date.format('Y-m-d H:i:s') }}'>
					<input class='button' type='submit' name='enter' value='Accept'>
		</div>
	</form>
{% endblock %}


