{% extends 'index.html.twig' %}
{% block title %}New incident{% endblock %}
{% block page_title %}Incident{% endblock %}
{% block content %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
    <div class="block">
        <div class="block-title">Set description of the incident</div>
        <div class="form2">

            {{ form_start(form) }}
			
			<div>
				{{ form_label(form.email) }}
				{{ form_errors(form.email) }}
				{% if not is_granted('ROLE_USER') %}
					{{ form_widget(form.email, {value: app.user.email }) }}
				{% else %}
					{{ form_widget(form.email) }}
				{% endif %}
			</div>
			
			<div>
				{{ form_label(form.title) }}
				{{ form_errors(form.title) }}
				{{ form_widget(form.title) }}
			</div>
			
			<div>
				{{ form_label(form.description) }}
				{{ form_errors(form.description) }}
				{{ form_widget(form.description) }}
			</div>
			
			<div class = center3>
				{{ form_widget(form.create) }}
			</div>
			
            {{ form_end(form) }}
			
        </div>
    </div>
{% endblock %}


