{% extends "index.html.twig" %}

{% block content %}

	
	{% for appoint in appointments %}
		{% if is_granted('ROLE_USER') %}
			{% set textDoctorName = 'Appointment with doctor: ' ~ appoint.doctor.username %}
            {% set textSpecialty = 'Specialty: ' ~ appoint.doctor.specialty %}
			
		{% elseif is_granted('ROLE_DOC') %}
			{% set text = 'Appointment with patient: ' ~ appoint.patient.username %}
			
		{% endif %}
			<div class="block">
				<div class="block-title"> {{ appoint.date | date('m-d-Y H:i:s') }} </div>
				<div class="center"><p>{{ textDoctorName }} </p><p>{{ textSpecialty }} </p><p>Description: {{ appoint.description }} </p>
					<a class="redhover" href='{{ path("removeAppointment") }}?id={{ appoint.id }}'>Remove</a>
				</div>
			</div>	
		{% endfor %}
	
{% endblock %}