{% extends 'index.html.twig' %}
{% block title %}Recipes{% endblock %}
{% block page_title %}Recipes{% endblock %}

{% block content %}
    {% for recipe in recipes %}
        <div class="block">
            <div class="block-title">{{ recipe.getName() }}</div>
            <div class="qr-img center3 ">
                <div class="row">
                    <div class="column">
                        <div><b>Medicine:&nbsp;&nbsp;</b> {{ recipe.getName() }}</div>
                        <div><b>Prescribed by:&nbsp;</b> {{ recipe.doctor.getUsername() }}</div>
                    </div>
                    <div class="column">
                        <div><b>Recipe ID:&nbsp;&nbsp;</b> {{ recipe.getId() }}</div>
                        <div><b>Perceiver NIF:&nbsp;</b> {{ recipe.patient.getUsername() }}</div>
                    </div>
                </div>
                <div class="row">
                    <img src="{{ qr_code_path(recipe.getName() ~
                        recipe.doctor.getDni()~
                        recipe.getId()~
                        recipe.patient.getDni()) }}" />
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}