<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>G-Med:{% block title %}Portal{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('index.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="header">
        <div class="logo"><a href="{{ path("index") }}"><img src="https://image.flaticon.com/icons/svg/119/119058.svg" class="svg-inject" alt="Logo" /></a><a href="{{ path("index") }}">G-Med</a></div>
        <div class="page-title">{% block page_title %}Portal{% endblock %}</div>
        <div class="menu">
            {% block menu_items_start %}{% endblock %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="menu-item"><a href="{{ path("logout") }}">Log-out</a></div>
            {% else %}
                <div class="menu-item"><a href="{{ path("addUser") }}">Sign-up</a></div>
                <div class="menu-item"><a href="{{ path("login") }}">Log-in</a></div>
            {% endif %}
            {% block menu_items_end %}{% endblock %}
        </div>
    </div>
        <div class="content">
        {% block content %}
            <div class="block">
                <div class="block-title">Welcome!</div>
                <div class="center">Under Construction</div>
            </div>
        {% endblock %}
        </div>
    <div class="footer">Symfony&ensp;Web&ensp;created&ensp;by&ensp;Elio García,&ensp;Samuel Falcón&ensp;and&ensp;Christopher&ensp;-&ensp;2018</div>
    </body>
</html>
