<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>G-Med:{% block title %}Portal{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('index.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="header">
        <div class="logo"><a href="{{ path("index") }}"><img src="https://image.flaticon.com/icons/svg/119/119058.svg" class="svg-inject" alt="Logo" /></a><a href="{{ path("index") }}">G-Med</a></div>
        <div class="page-title">{% block page_title %}Portal{% endblock %}</div>
        <ul class="menu">
            {% block menu_items_start %}{% endblock %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_DOCTOR') %}
                    <li><a href="{{ path("appointments") }}">&nbsp;Appointments&nbsp;</a></li>
                    <li><a href="{{ path("account") }}">&nbsp;Account&nbsp;</a></li>
                {% elseif is_granted('ROLE_USER') %}
                    <li><a href="{{ path("searchDoctor") }}">&nbsp;Search Doctor&nbsp;</a></li>
                    <li class="has-children"><a href="#">&nbsp;Appointments&nbsp;</a>
                        <ul>
                            <li class=""><a href="{{ path("getRecipes") }}">My Recipes</a></li>
                            <li class=""><a href="{{ path("appointments") }}">My Appointments</a></li>
                            <li class=""><a href="{{ path("selectSpecialty") }}">New Appointment</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path("account") }}">&nbsp;Account&nbsp;</a></li>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path("addDoctor") }}">&nbsp;New Doctor&nbsp;</a></li>
                {% endif %}
				<li><a href="{{ path("logout") }}">&nbsp;Log-out&nbsp;</a></li>
            {% else %}
                <li><a href="{{ path("addUser") }}">&nbsp;Sign-up&nbsp;</a></li>
                <li><a href="{{ path("login") }}">&nbsp;Log-in&nbsp;</a></li>
            {% endif %}
            {% block menu_items_end %}{% endblock %}
        </ul>
    </nav>
        <div class="content">
        {% block content %}
            {% if appointments is not empty %}
                <div class="error-block">
                    Next Appointments:&nbsp;
                    {% set break = false %}
                    {% for appointment in appointments if not break %}
                        {% if loop.index <=2 %}
                            {{ appointment.date|date('m-d H:i') }}

                            {% if loop.index<appointments|length and loop.index<2 %}
                                &nbsp;|&nbsp;
                            {% endif %}
                        {% else %}
                            {% set break = true %}
                        {%  endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="block">
                <div class="block-title">Witch Trials: 4 Real Medical Illnesses That Were Mistaken For Witchcraft And The Devil</div>
                <div class="center">
                    <div class="article-body" itemprop="articleBody"><p>When authorities burned accused witches at the stake throughout history, they often thought they were performing their own version of defense against the dark arts. Without the kind of advanced medical knowledge we have today, people sometimes attributed unexplained or strange medical phenomena by saying it was the work of witchcraft or demons.</p><p>It’s an idea that dates back to the beginning of civilization. Lois N. Magner, an expert in the history of medical science, writes in “<a href="https://books.google.com/books?id=UGdFCQAAQBAJ&amp;lpg=PA70&amp;ots=QJVKDxed8K&amp;dq=A%20History%20of%20Infectious%20Diseases%20and%20the%20Microbial%20World&amp;pg=PP1#v=onepage&amp;q&amp;f=false" rel="nofollow" target="_blank">A History of Infectious Diseases and the Microbial World</a>”&nbsp;that believing&nbsp;supernatural forces caused diseases “was essentially universal in prehistoric societies and in the remarkable civilizations that developed in the period between about 3500 BCE and 1500 BCE in Mesopotamia, Egypt, China and India.” For example, in the ancient days of India, “Hindu myths and legends depict a complex pantheon of gods and a vast array of demons capable of causing disease and pestilence. Legendary healers and gods wrestled with the demons” in these scenarios, Magner notes.</p><p>But some specific maladies were more often linked to witchcraft and dark forces than others.</p><h2>Epilepsy</h2><p>The neurological condition, which causes seizures by disturbing the brain’s electrical activity, is estimated to afflict 65 million people around the world, according to the <a href="http://www.epilepsy.com/learn/about-epilepsy-basics" rel="nofollow" target="_blank">Epilepsy Foundation</a>, with about 3 million of those in the United States. <a href="http://www.epilepsy.com/learn/epilepsy-101/what-happens-during-seizure" rel="nofollow" target="_blank">During a seizure</a>, a person could become confused or faint and then descend into a blackout or unconsciousness during which they are unresponsive and may experience tremors, twitching or convulsions. That appearance of a person losing control of their own body could be why uninformed onlookers could have been scared enough to accuse the sufferers of witchcraft.</p><p>The foundation <a href="http://www.epilepsy.com/article/2014/3/epilepsy-and-witchcraft-brief-history" rel="nofollow" target="_blank">quotes</a> from a 1400s religious-based text called The Malleus Maleficarum which says “there is no bodily infirmity, not even leprosy or epilepsy, which cannot be caused by witches ... For we have often found that certain people have been visited with epilepsy or the falling sickness by means of eggs which have been buried with dead bodies, especially the dead bodies of witches, together with other ceremonies of which we cannot speak, particularly when these eggs have been given to a person either in food or drink.” Although many physicians believed otherwise during the era of the Salem Witch Trials, which saw hundreds of thousands of women murdered on the basis of witchcraft, “the general public probably saw witches and demons as having a greater role” in epilepsy, the foundation says.</p><h2>Mental illness</h2><p>Because mental illnesses like schizophrenia and dissociative identity disorder can cause emotional and behavioral changes, they have been demonized, stigmatized and misunderstood for as long as they have appeared. Mentally ill people were “exorcised” of the evil spirits possessing them, and according to one perspective published on the <a href="https://www.ncbi.nlm.nih.gov/pubmed/9019873" rel="nofollow" target="_blank">National Institutes of Health</a>, “a large number of the alleged witches and possessed persons who were burned probably had visible mental disturbances.”</p><p>Tragically, some cultures around the world still believe witches are behind mental illness. <a href="https://www.theguardian.com/global-development-professionals-network/2015/jun/03/guyana-mental-illness-witchcraft-and-the-highest-suicide-rate-in-the-world" rel="nofollow" target="_blank"><em>The Guardian</em></a>&nbsp;reports that in Guyana, which has a staggering suicide rate, the symptoms of mental illness are “often mistakenly attributed to witchcraft … Communities often ostracize sufferers, and on occasion have physically assaulted them, at time with the endorsement of religious leaders.”</p><h2>Ergot poisoning</h2><p>When people eat food contaminated with the fungus ergot, they could start showing symptoms that mimic those of epilepsy or a mental illness, such as “violent muscle spasms, vomiting, delusions, hallucinations, crawling sensations on the skin, and a host of other symptoms — all of which ... are present in the records of the Salem witchcraft trials,” <a href="http://www.pbs.org/wnet/secrets/witches-curse-clues-evidence/1501/" rel="nofollow" target="_blank">PBS</a>&nbsp;says. And the epicenter of Massachusetts’ witchcraft discussion occurred in a place in Salem where the rye crop was likely infected with the fungus, from which the hallucinogenic drug LSD is derived.</p><p> <span class="figure hidden-print" itemscope="" itemtype="http://schema.org/ImageObject" itemprop="image"> <meta itemprop="url" content="https://images.medicaldaily.com/sites/medicaldaily.com/files/styles/embedded_full/public/2016/10/19/stake-12109401920.jpg"><meta itemprop="width" content="840"><meta itemprop="height" content="560"><span class="figcaption"> <span class="caption" itemprop="caption">Thousands of accused witches were burned at the stake for allegedly causing physical ailments.</span> <span class="credit" itemprop="copyrightHolder">Image courtesy of Pixabay, public domain</span> </span> </span></p><h2>Encephalitis lethargica</h2><p>Some believe this was another misunderstood condition that led to burning people at the stake. The disease with an unknown cause brings severe inflammation in the brain and comes with “high fever, headache, double vision, delayed physical and mental response, and lethargy,” the <a href="http://www.ninds.nih.gov/disorders/encephalitis_lethargica/encephalitis_lethargica.htm" rel="nofollow" target="_blank">National Institute of Neurological Disorders and Stroke</a>&nbsp;says. It might even lead to a coma and “patients may also experience abnormal eye movements, upper body weakness, muscular pains, tremors, neck rigidity, and behavioral changes including psychosis.” It is a rare condition, but can be a scary one. The <a href="http://news.bbc.co.uk/2/hi/health/3930727.stm" rel="nofollow" target="_blank">BBC</a>&nbsp;quotes a doctor named Stavia Blunt describing one case she saw in the early 1990s: “I was shocked by her appearance, stunned. She had these very bizarre clawing movements of her arms. It was weird.”</p></div>
                </div>
            </div>
        {% endblock %}
        </div>
    <div class="footer">Symfony&ensp;Web&ensp;created&ensp;by&ensp;Elio García,&ensp;Samuel Falcón&ensp;and&ensp;Christopher&ensp;-&ensp;2018</div>
    </body>
</html>
