<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>G-Med:{% block title %}Portal{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('index.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="header">
        <div class="logo"><a href="{{ path("index") }}"><img src="https://image.flaticon.com/icons/svg/119/119058.svg" class="svg-inject" alt="Logo" /></a><a href="{{ path("index") }}">G-Med</a></div>
        <div class="page-title">{% block page_title %}Portal{% endblock %}</div>
        <ul class="menu">
            {% block menu_items_start %}{% endblock %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_DOCTOR') %}
                    <li><a href="{{ path("appointments") }}">Appointments</a></li>
                    <li><a href="{{ path("account") }}">&nbsp;Account</a></li>
                {% elseif is_granted('ROLE_USER') %}
                    <li class="has-children"><a href="#">&nbsp;Appointments</a>
                        <ul>
                            <li class=""><a href="{{ path("appointments") }}">My Appointments</a></li>
                            <li class=""><a href="{{ path("selectSpecialty") }}">New Appointment</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path("account") }}">Account</a></li>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path("addDoctor") }}">New Doctor</a></li>
                {% endif %}
				<li><a href="{{ path("logout") }}">Log-out</a></li>
            {% else %}
                <li><a href="{{ path("addUser") }}">Sign-up</a></li>
                <li><a href="{{ path("login") }}">Log-in</a></li>
            {% endif %}
            {% block menu_items_end %}{% endblock %}
        </ul>
    </nav>
        <div class="content">
        {% block content %}
            <div class="block">
                <div class="block-title">Welcome!</div>
                <div class="center">Under Construction</div>
            </div>
        {% endblock %}
        </div>
    <div class="footer">Symfony&ensp;Web&ensp;created&ensp;by&ensp;Elio García,&ensp;Samuel Falcón&ensp;and&ensp;Christopher&ensp;-&ensp;2018</div>
    </body>
</html>
