{% extends "index.html.twig" %}
{% block title %}My Profile{% endblock %}
{% block page_title %}My Profile{% endblock %}
{% block content %}

	
	<div class="block">
		<div class="block-title"> My User Information </div>
		<div class="center">
			<div class="column">
				<div><b>Name: {{ user.getUsername() }}</b></div>
				<div><b>DNI: {{ user.getDni() }}</b></div>
				<div><b>BirthDate: {{ user.getBirthdate() }}</b></div>
			</div>
			<div class="column">
				<div><b>Phone: {{ user.getPhone() }}</b></div>
				<div><b>SSN: {{ user.getSocialSecurityNumber() }}</b></div>
			</div>
		</div>
	</div>
	<div class="block">
		<div class="block-title"> Medical History </div>
		<div class="center">
			{{ user.getMedicalHistory() }}
		</div>
	</div>

	<div class="block">
		<div class="block-title"> Pets (<a href="{{ path('addAnimal') }}">Add</a>) </div>
		<div class="center">

		</div>
	</div>
{% endblock %}